<nz-form-item nzRequired>
  <nz-form-control>
    <nz-input-number
      [(ngModel)]="value"
      [nzMin]="options?.min ?? minSafeInteger"
      [nzMax]="options?.max ?? maxSafeInteger"
      (ngModelChange)="notifyValueChange?.($event)"
      [nzDisabled]="disabled"
    />
    @if (options?.min !== undefined || options?.max !== undefined) {
    <div class="hint-text" nz-typography>
      <small nz-text nzType="secondary">
        @if (options?.min !== undefined && options?.max !== undefined) {
        <span> Valeur comprise entre {{ options?.min }} et {{ options?.max }} </span>
        } @if (options?.min !== undefined && options?.max === undefined) {
        <span> Valeur minimum : {{ options?.min }} </span>
        } @if (options?.min === undefined && options?.max !== undefined) {
        <span> Valeur maximum : {{ options?.max }} </span>
        }
      </small>
    </div>
    }
  </nz-form-control>
</nz-form-item>
