<nz-form-item style="display: flex; flex-wrap: wrap; align-items: center">
  <nz-form-label nzLabelAlign="left" style="flex: 0 0 auto"> Choix multiple </nz-form-label>
  <nz-form-control style="flex: 1 1 auto; min-width: 30px">
    <label
      nz-checkbox
      [(ngModel)]="options.multiple"
      (ngModelChange)="notifyOptionsChange?.(options)"
      [nzDisabled]="disabled"
    ></label>
  </nz-form-control>
</nz-form-item>

<!-- CHOICES -->
<nz-form-item>
  <nz-form-label [nzSpan]="24" nzLabelAlign="left" for="choices">Choix possibles</nz-form-label>
  <nz-form-control>
    <ui-tag-list
      [small]="false"
      [vertical]="true"
      [tags]="options.choices"
      (edit)="editChoice($event.index, $event.value)"
      (remove)="removeChoice($event)"
      (create)="addChoice($event)"
      (reorder)="reorderChoices($event)"
    />
  </nz-form-control>
</nz-form-item>
