@if(items.length === 0) {
<div class="empty-result">
  <nz-empty nzNotFoundImage="simple"></nz-empty>
  <h2>Aucune ressource ne correspond à votre recherche</h2>
  <ul class="empty-result-list">
    <li>Vérifiez les termes de votre recherche</li>
    <li>Essayez d'autres critères de recherche</li>
  </ul>
</div>
} @else {
<div #grid class="exercise-grid">
  @for (item of items; track $index) {
  <div cdkDrag [cdkDragData]="item" class="exercise-drag-wrapper">
    <app-exercise-card [item]="item" />
  </div>
  }
</div>
}