<form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="saveChanges()">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea cdkTextareaAutosize formControlName="desc" matInput></textarea>
  </mat-form-field>
  <nz-form-item>
    <nz-form-label nzFor="topics">Topics</nz-form-label>
    <nz-form-control>
      <tag-select kind="topic" id="topics" formControlName="topics" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="levels">Niveaux</nz-form-label>
    <nz-form-control>
      <tag-select kind="level" id="levels" formControlName="levels" />
    </nz-form-control>
  </nz-form-item>
  @if (saving) {
  <nz-spin></nz-spin>
  } @else {
  <button nz-button nzType="primary" [disabled]="!canSubmit">Sauvegarder</button>
  }
</form>
