<div class="dashboard">
  <mat-card class="left-card">
    <div class="card-title">Activité</div>
    <div class="card-content activity-card">
      @if (activity) {
      <div class="activity">
        <div class="activity-main">
          <div class="activity-header">
            <h3 class="activity-title">{{ activity.title }}</h3>
            <ng-container *ngIf="activity | courseActivityState as activityState">
              <span class="activity-state" [ngClass]="activity.state">
                {{ activityState.label }}
              </span>
            </ng-container>
          </div>
          <div class="activity-meta">
            <div><strong>Mis à jour le : </strong>{{ activity.updatedAt | date : 'short' }}</div>
            <div>
              <strong>Ouvre le : </strong>
              <ng-container *ngIf="activity.openAt; else noOpen">
                {{ activity.openAt | date : 'short' }}
              </ng-container>
              <ng-template #noOpen><span nz-icon nzType="stop" nzTheme="outline"></span></ng-template>
            </div>
            <div>
              <strong>Ferme le : </strong>
              <ng-container *ngIf="activity.closeAt; else noClose">
                {{ activity.closeAt | date : 'short' }}
              </ng-container>
              <ng-template #noClose><span nz-icon nzType="stop" nzTheme="outline"></span> </ng-template>
            </div>
          </div>
        </div>
        <div class="activity-actions">
          <a
            *ngIf="activity.permissions?.answer"
            nz-tooltip="Lancer"
            nz-button
            nzShape="round"
            nzType="primary"
            target="_blank"
            [routerLink]="['/player/activity', activity.id]"
          >
            <i nz-icon nzType="play-circle" nzTheme="outline"></i>
          </a>
          <a
            *ngIf="activity.permissions?.viewResource"
            nz-tooltip="Ouvrir la ressource associée"
            nz-button
            nzShape="round"
            [routerLink]="['/resources', activity.resourceId]"
          >
            <i nz-icon nzType="paper-clip" nzTheme="outline"></i>
          </a>
          <a
            *ngIf="activity.permissions?.update"
            nz-tooltip="Supprimer l'activité"
            nz-button
            nzDanger
            nzShape="round"
            nz-popconfirm
            [nzPopconfirmTitle]="confirmDelete"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="deleteActivity()"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </a>
        </div>
      </div>
      <div class="activity-stats">
        <div class="stats-grid">
          <div class="stat-item">
            <div class="stat-value">{{ nbParticipants }}</div>
            <div class="stat-label">Participants</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ averageScore }}%</div>
            <div class="stat-label">Score moyen</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ nbStarted }}</div>
            <div class="stat-label">En cours</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ nbFinished }}</div>
            <div class="stat-label">Terminés</div>
          </div>
        </div>
      </div>
      } @else {
      <div
        class="add-activity"
        *ngIf="section"
        [routerLink]="['/activities/create']"
        [queryParams]="{
          course: section.courseId,
          section: section.id,
          isTest: 1,
        }"
      >
        <span class="plus-icon">+</span>
        <p class="activity-text">Ajouter une activité</p>
      </div>
      }
    </div>
  </mat-card>
  <div class="right-column">
    <mat-card class="top-right-card">
      <div class="card-title">Configuration</div>
      <div class="card-content">
        <div class="buttons-list">
          <button *ngIf="canEdit" nz-button nz-tooltip="Modifier les termes et conditions" (click)="openTermsEditor()">
            <span class="material-symbols-outlined">contract_edit</span>
            <div>Termes et conditions</div>
          </button>
          <button
            *ngIf="canEdit"
            nz-button
            nz-tooltip="Envoyer le lien d'invitation par mail"
            (click)="openMailEditor()"
          >
            <span class="material-symbols-outlined">mail</span>
            <div>Mail d'invitation</div>
          </button>
          <button *ngIf="canEdit" nz-button nz-tooltip="Modifier les paramètres du test" (click)="settingsModal.open()">
            <span class="material-symbols-outlined">settings</span>
            <div>Paramètres</div>
          </button>
        </div>
      </div>
    </mat-card>
    <mat-card class="bottom-right-card">
      <div class="card-title">
        <div>Enseignants</div>
      </div>
      <button
        *ngIf="canEdit"
        class="add-button"
        (click)="addModal.open()"
        nz-button
        nzType="primary"
        nz-tooltip="Ajouter"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span><span>Ajouter un enseignant</span>
      </button>
      <div class="card-content">
        <course-member-table
          [members]="teachers"
          [total]="teachers.length"
          [editable]="true"
          [nonDeletables]="nonDeletables"
          (deleted)="removeMember($event)"
        ></course-member-table>
      </div>
    </mat-card>
  </div>
</div>
<user-search-modal
  #addModal
  multi
  okTitle="Ajouter"
  title="Ajouter des enseignants"
  [excludes]="excludes"
  [allowGroup]="false"
  (closed)="addTeachers($event)"
>
  <p>Sélectionnez les enseignants que vous souhaitez ajouter</p>
</user-search-modal>

<ng-template #confirmDelete>
  <p>
    Êtes-vous sûr de vouloir supprimer cette activité ?<br />Après avoir supprimé l'activité, toutes ses réponses seront
    effacées.
  </p>
</ng-template>

<ui-modal-drawer title="Paramètres du test d'entrée" #settingsModal>
  <ng-template>
    <tests-settings [(activity)]="activity" [(course)]="context.course"></tests-settings>
  </ng-template>
</ui-modal-drawer>
