@import 'shepherd.js/dist/css/shepherd.css';

@import './libs/feature/tuto/browser/src/lib/styles/shepherd-override.scss';


mat-drawer-container {
  width: 100vw;
  height: 100vh;
}

drawer-container {
  width: 100vw;
  height: 100vh;
  display: block;
}

mat-drawer {
  padding: 0;
  width: 240px;
}

mat-toolbar {
  background-color: transparent !important;
  app-toolbar {
    display: block;
    width: 100%;
  }
}
