<section>
  @if (canEdit) {
  <button (click)="addModal.open()" nz-button nzType="primary" nz-tooltip="Ajouter">
    <span nz-icon nzType="plus" nzTheme="outline"></span><span>Ajouter un membre</span>
  </button>
  } @if (context.course) {
  <mat-card>
    <course-member-search-bar
      #searchbar
      autoSelect
      [ngModel]="members"
      placeholder="Pour filtrer, essayez de taper un nom, un email..."
      (ngModelChange)="onUpdateMembers($event)"
      [filters]="filters"
      [courseId]="context.course!.id"
    />
    <mat-card-content>
      <course-member-table
        [total]="searchbar.total"
        [(filters)]="filters"
        [loading]="searchbar.searching"
        [members]="members"
        [nonDeletables]="nonDeletables"
        [editable]="canEdit"
        (deleted)="remove($event)"
        (changeRole)="updateRole($any($event))"
      />
    </mat-card-content>
  </mat-card>
  }
</section>
<user-search-modal
  #addModal
  multi
  okTitle="Ajouter"
  [title]="searchModalTitle"
  [excludes]="excludes"
  [filters]="modalFilters"
  [allowGroup]="allowGroup"
  (closed)="addMembers($event)"
>
  <p>
    Sélectionnez les
    <nz-select [(ngModel)]="role" (ngModelChange)="onRoleChange($event)" nzPlaceHolder="Rôle" nzShowSearch>
      @for (memberRole of roles; track memberRole) {
      <nz-option [nzLabel]="(memberRole | displayCourseMemberRole) + 's'" [nzValue]="memberRole"></nz-option>
      }
    </nz-select>
    que vous souhaitez ajouter
  </p>
</user-search-modal>
