:host {
  display: flex;
  align-items: center;
}
.drop-wrapper {
  position: relative;
  flex: 1;
  height: 36px;
}

.drop-zone {
  flex: 1;
  height: 36px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #555;
}
.drop-zone * {
  pointer-events: none;

}

.drop-zone span {
  font-weight: bold;
  pointer-events: none;
}

button {
  margin-left: 4px;
}

 #drop-zone:hover, .drag-active {
  border: 2px  solid #108ee9;
}

#drop-zone:hover + .droptip{
  display: block;
}

.droptip {
  display: none;
  position: absolute;
  bottom: 100%;
  margin-bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 6px 8px;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  z-index: 10;
  min-width: 144px;
  pointer-events: none;
}

.droptip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}