.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  button {
    background-color: var(--brand-color-primary);
    color: var(--brand-color-primary-contrast);
    border: none;
  }

  button:hover {
    background-color: var(--brand-color-primary-shade);
  }

  button[nzType="default"] {
    background-color: var(--brand-background-lighter-5);
    color: var(--brand-color-primary);
    border: 1px solid var(--brand-color-primary);
  }

  button[nzType="default"]:hover {
    background-color: var(--brand-background-darker-10);
  }
}

.user-charter-content {
  main {
    margin-bottom: 20px;
  }

  footer {
    text-align: center;
    font-size: 12px;
    color: var(--brand-text-secondary);
  }
}
