<nz-form-item nzRequired>
  <nz-form-control>
    <nz-form-label [nzSpan]="24" nzLabelAlign="left" class="command-section-title">Commandes</nz-form-label>
    <nz-form-control>
      <div class="command-list">
        <div *ngFor="let item of items; let i = index" class="command-item">
          <div class="command-tag" [class.selected]="selectedIndex === i" (click)="selectItem(i)">
            <ng-container *ngIf="editingIndex !== i; else editField">
              <span class="tag-text">{{ item.name_test }}</span>
              <div class="tag-actions">
                <nz-tag class="action-button edit-button" (click)="startEditing(i); $event.stopPropagation()">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </nz-tag>
                <nz-tag class="action-button delete-button" (click)="removeItem(i); $event.stopPropagation()">
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                </nz-tag>
              </div>
            </ng-container>
            <ng-template #editField>
              <input
                nz-input
                [ngModel]="item.name_test"
                (ngModelChange)="editName(i, $event)"
                (keydown.enter)="finishEditing()"
                (blur)="finishEditing()"
                class="edit-input"
                #editInput
              />
            </ng-template>
          </div>
        </div>
        <button
          nz-button
          nzType="default"
          nzShape="circle"
          class="add-command-button"
          (click)="addItem()"
          [disabled]="disabled"
        >
          <i nz-icon nzType="plus"></i>
        </button>
      </div>

      <div *ngIf="selectedIndex !== null && getSelectedItem()" class="command-details">
        <h4 class="details-title">Paramètres pour "{{ getSelectedItem()?.name_test }}"</h4>
        <nz-form-item>
          <nz-form-label [nzSpan]="24">Arguments</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <div class="arguments-container">
              <div class="arguments-list">
                <ng-container *ngFor="let arg of getSelectedItem()!.argv; let i = index">
                  <div *ngIf="editingArgumentIndex !== i; else editArgField" class="arg-item">
                    <nz-tag class="argument-tag">
                      {{ arg }}
                      <div class="arg-actions">
                        <i
                          nz-icon
                          nzType="edit"
                          nzTheme="outline"
                          class="edit-icon"
                          (click)="startEditingArgument(i)"
                        ></i>
                        <i nz-icon nzType="close" nzTheme="outline" class="delete-icon" (click)="removeArgument(i)"></i>
                      </div>
                    </nz-tag>
                  </div>
                  <ng-template #editArgField>
                    <input
                      nz-input
                      [(ngModel)]="editingArgumentValue"
                      (blur)="finishEditingArgument()"
                      (keydown.enter)="finishEditingArgument()"
                      class="edit-arg-input"
                      #editArgInput
                    />
                  </ng-template>
                </ng-container>

                <ng-container *ngIf="!isAddingArgument; else addArgumentInput">
                  <button
                    nz-button
                    nzSize="small"
                    nzType="dashed"
                    (click)="showAddArgumentInput()"
                    [disabled]="disabled"
                    class="add-argument-button"
                  >
                    <i nz-icon nzType="plus"></i> Ajouter
                  </button>
                </ng-container>

                <ng-template #addArgumentInput>
                  <input
                    nz-input
                    #argInput
                    [(ngModel)]="newArgument"
                    [disabled]="disabled"
                    (blur)="addArgument()"
                    (keydown.enter)="addArgument(); $event.preventDefault()"
                    placeholder="Nouvel argument"
                    class="new-arg-input"
                  />
                </ng-template>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Entrée standard</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [(ngModel)]="getSelectedItem()!.line_cmd"
              [disabled]="disabled"
              (blur)="updateLineCmd(getSelectedItem()!.line_cmd)"
              placeholder="Contenu de l'entrée standard durant l'éxécution"
              class="cmd-input"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-form-control>
  </nz-form-control>
</nz-form-item>
