<nz-form-item nzRequired>
  <nz-form-control>
    <nz-form-label [nzSpan]="24" nzLabelAlign="left" class="command-section-title">Commandes</nz-form-label>
    <nz-form-control>
      <div class="command-list">
        <div *ngFor="let item of items; let i = index" class="command-item">
          <div class="command-tag" [class.selected]="selectedIndex === i" (click)="selectItem(i)">
            <ng-container *ngIf="editingIndex !== i; else editField">
              <span class="tag-text">{{ item.name_test }}</span>
              <div class="tag-actions">
                <button
                  nz-button
                  nzType="text"
                  nzShape="circle"
                  class="edit-button"
                  (click)="startEditing(i); $event.stopPropagation()"
                >
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
                <button
                  nz-button
                  nzType="text"
                  nzShape="circle"
                  class="delete-button"
                  (click)="removeItem(i); $event.stopPropagation()"
                >
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                </button>
              </div>
            </ng-container>
            <ng-template #editField>
              <input
                nz-input
                [ngModel]="item.name_test"
                (ngModelChange)="editName(i, $event)"
                (keydown.enter)="finishEditing()"
                (blur)="finishEditing()"
                class="edit-input"
                #editInput
              />
            </ng-template>
          </div>
        </div>
        <button
          nz-button
          nzType="default"
          nzShape="circle"
          class="add-command-button"
          (click)="addItem()"
          [disabled]="disabled"
        >
          <i nz-icon nzType="plus"></i>
        </button>
      </div>

      <div *ngIf="selectedIndex !== null && getSelectedItem()" class="command-details">
        <h4 class="details-title">Paramètres pour "{{ getSelectedItem()?.name_test }}"</h4>
        <nz-form-item>
          <nz-form-label [nzSpan]="24">Arguments (séparés par des point-virgules)</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <textarea
              nz-input
              [(ngModel)]="currentArgv"
              [disabled]="disabled"
              (blur)="updateArgv()"
              placeholder="agr1; arg2; arg3"
              [nzAutosize]="{ minRows: 3, maxRows: 6 }"
              class="arguments-input"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Entrée standard</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [(ngModel)]="getSelectedItem()!.line_cmd"
              [disabled]="disabled"
              (blur)="updateLineCmd(getSelectedItem()!.line_cmd)"
              placeholder="Contenu de l'entrée standard durant l'éxécution"
              class="cmd-input"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-form-control>
  </nz-form-control>
</nz-form-item>
