<div class="ple-extends-editor">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Configuration du Template </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        @if (invalidTemplateId) {
        <nz-alert nzType="error" [nzMessage]="errorMessage" nzShowIcon></nz-alert>
        }
        <nz-input-group nzCompact>
          <input
            nz-input
            type="text"
            placeholder="ID du template"
            [(ngModel)]="templateId"
            (ngModelChange)="onChangeTemplate($event)"
            [nzStatus]="invalidTemplateId ? 'error' : ''"
            style="width: 70%"
          />
          <nz-select
            [(ngModel)]="templateVersion"
            (ngModelChange)="onChangeVersion($event)"
            [nzCustomTemplate]="versionTpt"
            [nzDisabled]="invalidTemplateId"
          >
            <ng-template #versionTpt>
              <i nz-icon nzType="branches" nzTheme="outline"></i>
              {{ templateVersion }}
            </ng-template>
            <nz-option nzLabel="latest" nzValue="latest" />
            @if (versions) {
            <nz-option *ngFor="let item of versions.all" [nzLabel]="item.tag" [nzValue]="item.tag" />
            }
          </nz-select>
        </nz-input-group>
      </div>
      <resource-version *ngIf="versionInfo" [version]="versionInfo" />
      <button nz-button nzType="primary" (click)="save()" class="save-button" [disabled]="invalidTemplateId">
        <span>Sauvegarder</span>
      </button>
    </mat-card-content>
  </mat-card>
</div>
