// https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/dark.less

@import (multiple) '../../../node_modules/ng-zorro-antd/style/color/colorPalette.less';
@import (multiple) '../../../node_modules/ng-zorro-antd/style/themes/dark.less';
@import '../../../node_modules/ng-zorro-antd/ng-zorro-antd.less';
@import 'base';

@body-background: rgb(27, 28, 33);
@component-background: rgb(27, 28, 33);
@popover-background: rgb(32, 33, 38);

@primary-color: #d09000;

@btn-link-hover-bg: transparent;
@btn-text-hover-bg: rgba(246, 246, 246, 0.04);

@text-color: #f2f2f2;
@text-color-secondary: rgba(242, 242, 242, 0.7);

@link-color: var(--brand-text-primary);
//@link-hover-color: color(~`colorPalette('@{link-color}', 5) `);
//@link-active-color: color(~`colorPalette('@{link-color}', 7) `);
@link-hover-color: var(--brand-highlight-primary);
@link-active-color: var(--brand-highlight-primary);

@table-header-bg: rgb(32, 33, 38);
@table-row-hover-bg: rgba(246, 246, 246, 0.04);

@border-color-base: rgba(211, 227, 253, 0.3);
@border-color-split: rgba(211, 227, 253, 0.12);

@tabs-card-active-color: #f2f2f2;
@tabs-ink-bar-color: var(--brand-highlight-primary);
@tabs-nav-bar-bg: var(--brand-highlight-primary);
@tabs-highlight-color: var(--brand-highlight-primary);
@tabs-hover-color: var(--brand-highlight-primary);
@tabs-active-color: #f2f2f2;
